<% unless session[:user] %>

<a href ='/sign_up'>新規登録</a>
<a href ='/sign_in'>ログイン</a>

<% else %>
<% id= session[:user] %>
<a href="/<%= session[:user] %>">マイページ</a>
<a href ="/sign_out">ログアウト</a>
<form action="/" method="POST">
    <input type="text" name="content">
    <input type="submit" value="投稿する">
</form>
<table>
 <% @reviews.each do |review| %>
  <tr>
    <td><%= review.content %></td>
    <td><%= review.user_id %></td>
  </tr>
 <% end %>
</table>
<% end %>