<body>
<form action=/sign_up method=POST>
    <div class="center">
    <input type="text" name="name" placeholder="ユーザーネーム"><br>
    <input type="text" name="mail" placeholder="メールアドレス"><br>
    <input type="text" name="password" placeholder="パスワード"><br>
    <input type="text" name="password_confilmation" placeholder="パスワードの確認"><br>
    <input type="submit" value="登録">
    </div>
</form>
</body>
<style type="text/css">
    input{
        width:600px;
        height:45px;
        margin-bottom:20px;
        font-size:15px;
    }
    input[type="text"]{
        border-radius:3px;
        border-style:solid;
        border-color:#e0e0e0;
        border-width:1px;
        padding-left:10px;
    }
     body{
         display:flex;
         justify-content:center;
     }
     input[type="submit"]{
         color:#ffffff;
         background-color:#DA5019;
         border:none;
     }
     .center{
         margin-top:100px;
     }
</style>