
<form action="/write_review" method="POST">
    <div class="center">
    <input type="text" name="content" placeholder="レビュー"><br>
    <p>タグ</p><br>
    <input type="text" name="tag" placeholder="スペースで複数タグを追加できます">
    <input type="submit" value="投稿する">
    </div>
</form>

<style type="text/css">
    input{
        width:600px;
        margin-bottom:20px;
        font-size:15px;
    }
    input[type="text"]{
        border-radius:3px;
        border-style:solid;
        border-color:#e0e0e0;
        border-width:1px;
        padding-left:10px;
    }
     body{
         display:flex;
         justify-content:center;
     }
     input[type="submit"]{
         color:#ffffff;
         background-color:#DA5019;
         border:none;
     }
     .center{
         margin-top:150px;
     }
</style>
